<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Artikel - CRUD in Spring Boot with Spring Data JPA</title>
        <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: body"></th:block> /*/-->
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Artikels <a th:href="@{/artikels/add}" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Judul</th>
                                    <th>Isi</th>
                                    <th>Penulis</th>
                                    <th>Tanggal</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            <div th:if="!${#lists.isEmpty(artikels)}">
                                <tr th:each = "artikel : ${artikels}">
                                    <td th:text = "${artikel.id}"></td>
                                    <td th:text = "${artikel.judul}"></td>
                                    <td th:text = "${artikel.isi}"></td>
                                    <td th:text = "${artikel.penulis}"></td>
                                    <td th:text = "${artikel.tanggal}"></td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="...">
                                            <a th:href="${'/artikels/view/' + artikel.id}" class="btn btn-info"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                            <a th:href="${'/artikels/edit/' + artikel.id}" class="btn btn-success"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                            <a th:href="${'/artikels/delete/' + artikel.id}" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                        </div>
                                    </td>
                                </tr>
                            </div>
                            <div th:if="${#lists.isEmpty(artikels)}">
                                <tr>
                                    <td>No contact exists!</td>
                                </tr>
                            </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
        <script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
    </body>
</html>
